<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	
<head>
    <meta charset="UTF-8">
    <title>予約確認</title>
    <link rel="stylesheet" href="./css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>

<body>
	
    <header class="py-5 py-md-3">
		<h1>予約確認</h1>
	</header>
	
	<main>
		<div class="container-fluid">
		    <div class="row my-4 py-2" style="background-color: rgb(210, 210, 210);">
			    <h3>予約内容</h3>
			</div>
			<div class="row justify-content-center">
				<div class="col-10  my-5">
					<h2>日時</h2>
					<h3><span th:text="${reserve.date}"></span>：<span th:text="${reserve.time}"></span></h3>
					<br>
					<h2>アドバイザー</h2>
					<h3 th:text="${adviser.name}"></h3>
				</div>
			</div>
			<div class="row my-4 py-2" style="background-color: rgb(210, 210, 210);">
				<h3>ご予約者情報</h3>
			</div>
			<div class="row justify-content-center">
				<div class="col-10  my-5">
					<h2>ご予約者氏名</h2>
					<h3 th:text="${reserve.userName}"></h3>
					<h2>メールアドレス</h2>
					<h3 th:text="${reserve.userMail}"></h3>
					<br>
					<h2>ご要望・ご相談</h2>
					<div th:text="${reserve.comment}">
			    		ここにコメントが入る。
					</div>
				</div>
			</div>
			<div class="row justify-content-center my-5">
				<div class="col-4">
					<a href="/" class="btn btn-primary">TOPへ戻る</a>
				</div>
				<div class="col-4">
					<a href="/Completion" class="btn btn-primary">予約完了</a>
				</div>
			</div>
		</div>
 	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>