<!DOCTYPE html>
<html>
	
<head>
    <meta charset="UTF-8">
    <title>予約確認</title>
    <link rel="stylesheet" href="./css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>

<body>
	
    <header class="py-5 py-md-3">
		<h1>予約確認</h1>
	</header>
	
	<main>
		<div class="container-fluid">
		    <div class="row my-4 py-2" style="background-color: rgb(210, 210, 210);">
			    <h3>予約内容</h3>
			</div>
			<div class="row justify-content-center">
				<div class="col-10  my-5">
					<h2>日時</h2>
					<h3>○○月○○日：○○～</h3>
					<br>
					<h2>アドバイザー</h2>
					<h3>○○</h3>
				</div>
			</div>
			<div class="row my-4 py-2" style="background-color: rgb(210, 210, 210);">
				<h3>ご予約者情報</h3>
			</div>
			<div class="row justify-content-center">
				<div class="col-10  my-5">
					<h2>ご予約者氏名</h2>
					<h3>○○</h3>
					<br>
					<h2>メールアドレス</h2>
					<h3>1234@example.com</h3>
					<br>
					<h2>ご要望・ご相談</h2>
					<div>
			    		ここにコメントが入る。
					</div>
				</div>
			</div>
			<div class="row justify-content-center my-5">
				<div class="col-4">
					<a href="http://localhost:8080/top.html" class="button">TOPへ戻る</a>
				</div>
			</div>
		</div>
 	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>