<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>予約内容</title>
    <link rel="stylesheet" href="./css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
        crossorigin="anonymous">
    <style>
		.header{
	        font-size: 70px;
        }
        
        .title{
			font-size: 50px;
		}
		
		.h3{
			font-size: 40px;
		}
		
		.h2{
			font-size: 45px;
		}
		
		.btn{
			 width: 350px;
             height:80px;
             font-size: 40px;
		}
	</style>    
</head>

<body>

    <header class="header">
        予約内容
    </header>

    <main>
        <div class="container-fluid">
            <div class="row my-4 py-2" style="background-color: rgb(210, 210, 210);">
                <div class="title">予約内容</div>
            </div>
            <div class="row justify-content-center">
                <div class="col-10 my-5">
                    <h3 class="h3">日時</h3>
                    <h2 class="h2 offset-1 mb-4"><span th:text="${reserve.date}"></span>：<span th:text="${reserve.time}"></span>～</h2>
                    <br>
                    <h3 class="h3">アドバイザー</h3>
                    <h2 class="h2 offset-1" th:text="${adviser.name}"></h2>
                </div>
            </div>
            <div class="row my-4 py-2" style="background-color: rgb(210, 210, 210);">
                <div class="title">ご予約者情報</div>
            </div>
            <div class="row justify-content-center">
                <div class="col-10 my-5">
                    <h3 class="h3">ご予約者氏名</h3>
                    <h2 class="h2 offset-1 mb-5" th:text="${reserve.userName}"></h2>
                    <br>
                    <h3 class="h3">メールアドレス</h3>
                    <h2 class="h2 offset-1 mb-5" th:text="${reserve.userMail}"></h2>
                    <br>
                    <h3 class="h3">ご要望・ご相談</h3>
                    <div>
                        <h2 class="h2 offset-1" th:text="${reserve.comment}"></h2>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center my-5">
                <div class="col-6 text-center">
                    <a href="/" class="btn btn btn-primary">TOPへ戻る</a>
                </div>
                <div class="col-6 text-center">
                    <button type="button" class="btn btn btn-primary" data-bs-toggle="modal" data-bs-target="#cancelModal">
                        キャンセルする
                    </button>
                </div>
            </div>
        </div>

        <!-- キャンセルモーダル -->
        <div class="modal fade" id="cancelModal" tabindex="-1" aria-labelledby="cancelModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="cancelModalLabel">予約キャンセルの確認</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>本当に予約をキャンセルしますか？</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">いいえ</button>
                        <a href="/cancellationCompleted" class="btn btn-danger">予約をキャンセルする</a>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous">
    </script>
</body>

</html>
