<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./css/style.css">
    <title>入力画面</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <header class="py-sm-5 py-md-3">
        <h1 class="py-sm-5 py-md-3">入力画面</h1>
    </header>
    <main>
        <form action="test">
            <div class="container">
                <div class="row mt-5 justify-content-center">
                    <div class="col-6">
                        <h2>氏名</h2>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <input class="col-4" type="text" name="" id="" placeholder="12345@example.com">
                </div>
                <div class="row mt-5 justify-content-center">
                    <div class="col-6">
                        <h2>メールアドレス</h2>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <input class="col-4" type="email" name="" id="">
                </div>
                <div class="row mt-5 justify-content-center">
                    <div class="col-6">
                        <h2>ご要望・ご相談</h2>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <textarea style="resize: none;" name="" id="" cols="50" rows="5"></textarea>
                </div>
                <div class="row mt-5 justify-content-center">
                    <button type="submit" class="btn btn-primary" style="">予約内容を確認</button>
                </div>
            </div>
        </form>
    </main>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
</body>
</html>