<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>商品一覧画面</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/common.css}">
</head>
<body>
	<h1>発注システム</h1>
	<h2>商品一覧画面</h2>
	<div id="contents">
		<table>
		<tr>
			<th>予約番号</th>
			<th>予約日</th>
			<th>予約時間</th>
			<th>ランダム値</th>
			<th>アドバイザー番号</th>
			<th>ユーザー名</th>
			<th>メールアドレス</th>
		</tr>
		<tr th:each="reserve:${reserveList}">
			<td th:text="${reserve.no}"/></td>
			<td th:text="${reserve.date}"/></td>
			<td th:text="${reserve.time}"/></td>
			<td th:text="${reserve.code}"/></td>
			<td th:text="${reserve.adviserCd}"/></td>
			<td th:text="${reserve.userName}"/></td>
			<td th:text="${reserve.userMail}"/></td>
		</tr>
		</table>
	</div>
</body>
</html>